In [1]:
import pandas as pd
data=[1,3,5,7,9]
s=pd.Series(data)
s

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [2]:
data = {
    'year': [2016, 2017, 2018],
    'GDP rate': [2.8, 3.1, 3.0],
    'GDP': ['1.637M', '1.73M', '1.83M']
}
 
df = pd.DataFrame(data)
df

   year  GDP rate     GDP
0  2016       2.8  1.637M
1  2017       3.1   1.73M
2  2018       3.0   1.83M

In [8]:
import numpy as np
data=np.random.rand(2,3,4)
p=pd.Panel(data)
p[0]

          0         1         2         3
0  0.085689  0.125641  0.525242  0.200380
1  0.459459  0.263141  0.883823  0.733993
2  0.640897  0.363583  0.216617  0.843408

In [9]:
p[1]

          0         1         2         3
0  0.288546  0.165293  0.196476  0.546951
1  0.135285  0.052415  0.724599  0.635618
2  0.352859  0.124899  0.615556  0.121701

In [11]:
df.year

0    2016
1    2017
2    2018
Name: year, dtype: int64

In [12]:
df.year[df.year>2017]

2    2018
Name: year, dtype: int64

In [21]:
df['GDP rate'].sum()
df['GDP rate'].mean()

2.966666666666667

In [22]:
df.describe()

         year  GDP rate
count     3.0  3.000000
mean   2017.0  2.966667
std       1.0  0.152753
min    2016.0  2.800000
25%    2016.5  2.900000
50%    2017.0  3.000000
75%    2017.5  3.050000
max    2018.0  3.100000

In [38]:
data2 = {
    'ID': [1,2,3],
    'K': [80,90,75],
    'E': [90,100,95],
    'M': [75,70,65]    
}
df2=pd.DataFrame(data2)

In [44]:
df2.to_csv('test.csv',index=False)
df2=pd.read_csv('test.csv')

In [42]:
df2

   Unnamed: 0  ID   K    E   M
0           0   1  80   90  75
1           1   2  90  100  70
2           2   3  75   95  65